<mat-toolbar color="primary">
  <div class="flex">
    <span>
      <a mat-button routerLink="/">Marketfy</a>
    </span>
    <ul>
        <li class="dropdown" appDropdown>
            <a mat-fab appUserDropdown ngClick="dropdown()"><mat-icon>person</mat-icon></a>
            <ul class="dropdown-menu">
                <li *ngFor = "let item of dropdownItems">
                    <a [id]="[item.linkId]" [routerLink]="item.linkUrl" [routerLinkActive]="['active-link']">{{item.linkName}}</a>
                </li>
            </ul>
        </li>
    </ul>
  </div>
</mat-toolbar>
