.flex{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}
.boards{
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
.user-auth{
    display: flex;
    column-gap: 1rem;
}
.dropdown{
    list-style-type: none;
}
.dropdown-menu{
    display: none;
    list-style-type: none;
}
.open{
    display: flex;
}