mat-toolbar{
    overflow: hidden;
}
.flex{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}
.user-auth{
    display: flex;
}
#icon{
    height: 2.5em;
    width: 2.5em;
}
.dropdown{
    list-style-type: none;
}
.dropdown-menu{
    list-style-type: none;
}
.open{
    display: flex;
    flex-direction: column;
}