.wrapper {
  padding: 4em;
}
mat-card {
    max-width: 500px;
    padding: 2em;
    margin: 0 auto;
}
img {
    border-radius: 50% !important;
    padding: 15px;
    margin: 0 auto;
    width: 100%;
    max-width: 15em;
}
form {
  display: flex;
  flex-direction: column;
}
.existing {
  color: #d3d3d3;
  margin-top: 1.2em;
}
.existing a {
  color: #c2175b;
}
.form-error {
  margin-top: 1.2em;
}
.success {
  color: #729b81;
  margin-top: 1.2em;
}