<div class="wrapper">
    <mat-card>
        <img 
            mat-card-image
            id="profile-img"
            src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
            alt="This is a profile avatar"
            width="250"
            class="profile-img-card"
        />
        <mat-card-content>
            <form
                *ngIf="!isSuccessful"
                name="form"
                (ngSubmit)="f.form.valid && onSubmit()"
                #f="ngForm"
                novalidate
            >
                <mat-form-field>
                    <mat-label for="username">Username</mat-label>
                    <input
                        type="text"
                        name="username"
                        [(ngModel)]="form.username"
                        required
                        minlength="3"
                        maxlength="20"
                        #username="ngModel"
                        matInput
                    />
                    <div *ngIf="username.errors && f.submitted">
                        <mat-error *ngIf="username.errors?.['required']">Username is required</mat-error>
                        <mat-error *ngIf="username.errors?.['minlength']">Username must be at least 3 characters</mat-error>
                        <mat-error *ngIf="username.errors?.['maxlength']">Username must be at most 20 characters</mat-error>
                    </div>
                </mat-form-field>
                <mat-form-field>
                    <mat-label for="email">Email</mat-label>
                    <input
                        type="email"
                        name="email"
                        [(ngModel)]="form.email"
                        required
                        email
                        #email="ngModel"
                        matInput
                    />
                    <div *ngIf="email.errors && f.submitted">
                        <mat-error *ngIf="email.errors?.['required']">Email is required</mat-error>
                        <mat-error *ngIf="email.errors?.['email']">Email must be a valid email address</mat-error>
                    </div>
                </mat-form-field>
                <mat-form-field>
                    <mat-label for="password">Password</mat-label>
                    <input
                        type="password"
                        name="password"
                        [(ngModel)]="form.password"
                        required
                        minlength="6"
                        #password="ngModel"
                        matInput
                    />
                    <div *ngIf="password.errors && f.submitted">
                        <mat-error *ngIf="password.errors?.['required']">Password is required</mat-error>
                        <mat-error *ngIf="password.errors?.['minlength']">Password must be at least 6 characters</mat-error>
                    </div>
                </mat-form-field>

                <mat-card-footer>
                    <mat-card-actions>
                        <button type="button" mat-raised-button color="primary">Sign Up</button>
                    </mat-card-actions>
                    <span class="existing">
                        Already have an account? <a routerLink="/login">Login</a>
                    </span>
                </mat-card-footer>

                <mat-error class="form-error" *ngIf="f.submitted && isSignUpFailed">
                    Signup failed!<br />{{ errorMessage }}
                </mat-error>

            </form>

            <div class="success" *ngIf="isSuccessful">
                Your registration is successful!
            </div>
        </mat-card-content>
    </mat-card>
</div>
